.gameCard {
  border-radius: 15px;
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
  margin-top: 10px;
}

.sg {
	background: url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) right center/contain no-repeat;
}

.noping {
	background: url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) right center/contain no-repeat;
}

.crewmates {
	background: url(https://cdn.pandascore.co/images/team/image/127941/190px_crewmates_logo_2021.png) right center/contain no-repeat;
}

.lvlup {
	background: url(https://cdn.pandascore.co/images/team/image/1948/t11113.png) right center/contain no-repeat;
}

.classicoBR {
	color: black;
/*	background: url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) left center/contain no-repeat, url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) right center/contain no-repeat;	*/
}

p, span {
  padding-left: 0px;
  margin-left: 10px;
}
