.gameCard {
  border-radius: 15px;
  text-align: left;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
  margin-top: 10px;
}

.sg {
	background: #fff url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) right center/contain no-repeat; */
	box-shadow: -1px 0px 21px 1px #168aad inset;
}

.noping {
	background: #fff url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) right center/contain no-repeat; */
	box-shadow: -1px 0px 21px 1px #23580e inset;	
}

.crewmates {
	background: #fff url(https://cdn.pandascore.co/images/team/image/127941/190px_crewmates_logo_2021.png) right center/contain no-repeat;*/
	box-shadow: -1px 0px 21px 1px black inset;
}

.classicoBR {
	color: black;
/*	background: url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) left center/contain no-repeat, url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) right center/contain no-repeat;	*/
	box-shadow: -1px 0px 21px 1px black inset;
}

p, span {
  padding-left: 0px;
  margin-left: 10px;
}

*{padding: 0; margin: 0; box-sizing: border-box;}

body{
  background-color: white;
  margin: auto;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 20px;
}
