.gameCard {
  border-radius: 30px;
  text-align: center;
  background-size: 90px;
  font-size: large;
  font-weight: bold;
  font-family: monospace;
  margin: 20px;
}

.sg {
color: #0077b6;
background: #fff url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) left center/contain no-repeat;
box-shadow: -1px 0px 21px 1px #168aad inset;
}

.noping {
	color: #378f15;
	background: #fff url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) left center/contain no-repeat;
	box-shadow: -1px 0px 21px 1px #378f15 inset;	
}

.noping {
	color: #378f15;
	background: #fff url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) left center/contain no-repeat;
	box-shadow: -1px 0px 21px 1px #378f15 inset;	
}

.crewmates {
	color: black;
	background: #fff url(https://cdn.pandascore.co/images/team/image/127941/190px_crewmates_logo_2021.png) left center/contain no-repeat;
	box-shadow: -1px 0px 21px 1px black inset;
}

.classicoBR {
	color: black;
	background: url(https://cdn.pandascore.co/images/team/image/126294/noping-e-sports.png) left center/contain no-repeat, url(https://cdn.pandascore.co/images/team/image/1735/SG_e-sports.png) right center/contain no-repeat;	
	box-shadow: -1px 0px 21px 1px black inset;
}

p {
  padding: 5px;
  margin: 0px;
}

*{padding: 0; margin: 0; box-sizing: border-box;}

body{
  height: 900px;
  background-color: white;
}

header {
	background: url('https://img.ibxk.com.br/2018/12/11/11112910174497.jpg');
	text-align: center;
	width: 100%;
	height: 150px;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}
header .overlay{
	width: 100%;
	height: 100%;
	padding: 10px;
	color: #FFF;
	text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient( 135deg, #9f05ff69 10%, #fd5e086b 100%);
	
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 80px;
	margin-bottom: 20px;
}

h3, p {
	font-family: 'Open Sans', sans-serif;
}

