body {
    background-color:whitesmoke;
    color:black;
}

a {
    text-decoration: none;
    color: black;
}

h3 {
    line-height: 0;
}

#MinhaFoto {
    border-radius: 4%;
    display: inline-block;
    float: left;
    padding: 4px;
    background-color: #ADB5BD;
}

#Nome {
    font-family: monospace;
    text-align: center;
}

#SobreMim {
    padding: 50px;
    font-family: sans-serif;
    display: inline-block;
}

#Habilidades {
    display: inline-flex;
    margin: 0px 40px;
    text-align: center;
    padding: 20px 10px;
    border-radius: 4px;
    border:inset;
}

#EmEstudo {
    display: inline-flex;
    margin: 0px 40px;
    text-align: center;
    padding: 20px 100px;
    border-radius: 4px;
    border:inset;
}

#Contatos {
    display: inline-flex;
    margin: 0px 40px;
    text-align: center;
    padding: 20px 100px 55px 100px;
    border-radius: 4px;
    border:inset;
}